
[Desktop Entry]
Encoding=UTF-8
Name=Verknüpfung mit CppAdvancedSS12 - ABI - TWiki
Type=Link
URL=http://www.mi.fu-berlin.de/w/ABI/CppAdvancedSS12
Icon=text-html
Name[de_DE]=CppAdvancedSS12 - ABI - TWiki
